body {
    background-color: white;
    color: black;
    text-align: center;
}

header {
    display: none;
}

main {
    max-width: 1000px;
    margin: auto;
}

table {
    border-collapse: collapse;
    border: 3px solid black;
}

tr {
    page-break-inside: avoid;
}

.newNotice {
    background-color: #e6e6e6;
}

th {
    border: 2px solid black;
    padding: 10px;
    page-break-inside: avoid;
}

td {
    border: 1px solid black;
    padding: 10px;
    page-break-inside: avoid;
}

#printSection {
    display: none;
}

.footer-img {
    display: none;
}