#pleaseNote {
    text-align: center;
    left: 0;
    bottom: 0;
    padding: 20px;
    margin: auto;
    transition: 0.5s;
}

#grade {
    text-align: center;
    border-radius: 0.5rem;
    border: 2px solid #e6e6e6;
    background-color:#2f3437;
    color: #e6e6e6;
    width: 200px;
    height: 30px;
    outline: none;
    cursor: pointer;
}

#grade:disabled {
    border: 2px solid #666666;
    color: #666666;
}

#inputData {
    text-align: left;
    border-radius: 0.5rem;
    border: 2px solid #e6e6e6;
    background-color:#2f3437;
    color: #e6e6e6;
    width: 85%;
    height: 25px;
    outline: none;
    padding: 1px 5px;
    transition: 0.5s;
}

#inputData:disabled {
    border: 2px solid #666666;
    color: #666666;
}

input[type=color] {
    width: 150px;
    cursor: pointer;
    transition: 0.5s;
}

.disabled * {
    color: #666666;
    transition: 0.5s;
}

#editDataSection {
    margin: auto;
    width: 95%;
    max-width: 800px;
    transition: 0.5s;
}

#editDataTable {
    margin: auto;
    width: 100%;
}

.editDataSubjectTextarea,
.editDataMessageTextarea {
    padding: 5px;
    text-align: center;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: #2f3437;
    outline: none;
    color: #e6e6e6;
    font-family: calibri;
    font-size: 15px;
}

.editDataSubjectTextarea::-webkit-scrollbar,
.editDataMessageTextarea::-webkit-scrollbar {
    width: 12px;
    cursor: default;
  }
   
  .editDataSubjectTextarea::-webkit-scrollbar-track,
  .editDataMessageTextarea::-webkit-scrollbar-track {
    background-color: #232729;
    border-radius: 5px;
  }
   
  .editDataSubjectTextarea::-webkit-scrollbar-thumb,
  .editDataMessageTextarea::-webkit-scrollbar-thumb {
    background-color: #acb4b9;
    outline: none;
    border-radius: 5px;
    cursor: default;
  }

  .editDataSubjectTextarea::-webkit-scrollbar-button,
  .editDataMessageTextarea::-webkit-scrollbar-button {
    display: none;
  }

  .editDataSubjectTextarea::-webkit-scrollbar-corner,
  .editDataMessageTextarea::-webkit-scrollbar-corner {
    background-color: #2f3437;
    border: none;
    outline: none;
  }

  .editDataSubjectTextarea::-webkit-resizer,
  .editDataMessageTextarea::-webkit-resizer {
    border: none;
    outline: none;
  }