.stop-page-load-transition {
    transition: none !important;
}

body {
    background-color: #2f3437;
    color: #e6e6e6;
    text-align: center;
    font-family: 'Arial';
}

header {
    padding: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    margin: auto;
    width: 100%;
    max-width: 800px;
    text-align: left;
    max-height: 200px;
}

header > img {
    width: 50%;
    max-width: 300px;
    display: inline-block;
}

header nav {
    display: inline-block;
    min-width: 280px;
    max-width: 300px;
    position: absolute;
    margin-left: 5%;
    top: 40px;
}

header nav > ul {
    list-style-type: none;
    display: inline-block;
}

header nav > ul > li {
    display: inline;
    margin: 0 10px;
}

header nav > ul > li > a {
    text-decoration: none;
    transition: 0.3s;
}

header nav > ul > li:hover > a {
    color: #ffcc00;
}

header nav > ul > li > a.active {
    color: #ffcc00;
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: auto;
    transition: 0.5s;
}

.setTextColor {
    color: #2f3437;
}

.standardTextInput {
    color:#2f3437;
    border-color: #2f3437;
    border-radius: 2px;
  }

.standard-button {
    text-align: center;
    border-radius: 0.5rem;
    border: 2px solid #e6e6e6;
    background-color: #2f3437;
    color: #e6e6e6;
    min-width: 75px;
    padding: 0.5rem;
    text-decoration: none;
    transition: 0.3s;
    outline: none;
}

.standard-button:hover {
    background-color: #e6e6e6;
    color: #2f3437;
    cursor: pointer;
}

.standard-button:disabled {
    border: 2px solid #666666;
    color: #666666;
}

.standard-button:disabled:hover {
    border: 2px solid #666666;
    background-color: #2f3437;
    color: #666666;
    cursor: default;
}

.standard-checkbox {
    border: 1pt solid #2f3437;
    background-color: #666666;
    color: #2f3437;
}

.standard-checkbox:checked:before {
    border: 1pt solid #666666;
    background: #2f3437;
    color: #666666;
}

a {
    text-decoration: underline;
    color: #e6e6e6;
}

table {
    border-collapse: collapse;
    border: 3px solid #e6e6e6;
}

th {
    border: 2px solid #e6e6e6;
    padding: 10px;
}

td {
    border: 1px solid #e6e6e6;
    padding: 10px;
}

td[contenteditable="true"]:focus-within {
    outline: 2px solid #ffcc00;
}

img.footer-img {
    width: 6%;
    opacity: 0.5;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: none;
}

.print-img {
    display: none;
}

@media (max-width: 900px) {
    img.footer-img {
        display: none;
    }
}

.hide {
    opacity: 0;
    visibility: hidden;
    max-height: 0px;
}